In [3]:
%matplotlib inline

import pandas as pd
#from sklearn.cross_validation import train_test_split
from sklearn.model_selection import train_test_split

import numpy as np
import time
from sklearn.externals import joblib
#import Recommenders as Recommeders
#import Evaluation as Evaluation

In [4]:
ratings_df = pd.read_csv("./datasets/ratings_Electronics.csv", names=["userID","productID","ratings","timestamp"])

In [3]:
ratings_df.head()

           userID   productID  ratings   timestamp
0   AKM1MP6P0OYPR  0132793040      5.0  1365811200
1  A2CX7LUOHB2NDG  0321732944      5.0  1341100800
2  A2NWSAGRHCP8N5  0439886341      1.0  1367193600
3  A2WNBOD3WNDNKT  0439886341      3.0  1374451200
4  A1GI0U4ZRJA8WN  0439886341      1.0  1334707200

In [4]:
ratings_df.drop(labels= "timestamp" , inplace=True, axis = 1)

In [5]:
ratings_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7824482 entries, 0 to 7824481
Data columns (total 3 columns):
userID       object
productID    object
ratings      float64
dtypes: float64(1), object(2)
memory usage: 179.1+ MB

In [6]:
ratings_df.describe().transpose()

             count      mean      std  min  25%  50%  75%  max
ratings  7824482.0  4.012337  1.38091  1.0  3.0  5.0  5.0  5.0

In [7]:
ratings_df.head(10)

           userID   productID  ratings
0   AKM1MP6P0OYPR  0132793040      5.0
1  A2CX7LUOHB2NDG  0321732944      5.0
2  A2NWSAGRHCP8N5  0439886341      1.0
3  A2WNBOD3WNDNKT  0439886341      3.0
4  A1GI0U4ZRJA8WN  0439886341      1.0
5  A1QGNMC6O1VW39  0511189877      5.0
6  A3J3BRHTDRFJ2G  0511189877      2.0
7  A2TY0BTJOTENPG  0511189877      5.0
8  A34ATBPOK6HCHY  0511189877      5.0
9   A89DO69P0XZ27  0511189877      5.0

In [8]:
ratings_df[ratings_df['ratings'] == 0]

Empty DataFrame
Columns: [userID, productID, ratings]
Index: []

In [9]:
ratings_df.count()

userID       7824482
productID    7824482
ratings      7824482
dtype: int64

In [10]:
users = ratings_df['userID'].unique()
products = ratings_df['productID'].unique()

In [11]:
print(len(users))
print(len(products))

4201696
476002

In [12]:
product_grouped = ratings_df.groupby(['productID']).agg({'ratings': 'count'}).reset_index()

In [15]:
top_users = ratings_df.groupby('userID')['ratings'].count().reset_index()

In [16]:
top_users = top_users.sort_values(by='ratings',ascending=[False]).head(10000)

In [17]:
top_users.tail()

                 userID  ratings
2486119  A38K9AJFJCOY6I       22
2528238  A39XCO0TG2J6R3       22
4157016   AYJG6V3AQONGG       22
2683036  A3EY3SJDDHSETU       22
2932293  A3N27L13CWJ9HY       22

In [18]:
top_users[top_users.ratings>20].count()

userID     10000
ratings    10000
dtype: int64

In [56]:
df = ratings_df[ratings_df['userID'].isin(top_users['userID'][top_users.ratings>100].values)]

In [57]:
df.count()

userID       43309
productID    43309
ratings      43309
dtype: int64

In [58]:
top_users['userID'][top_users.ratings>100].count()

280

In [60]:
# making sure data is correctly extracted
top_users2 = df.groupby('userID')['ratings'].count().reset_index()

In [61]:
top_users2.count()

userID     280
ratings    280
dtype: int64

In [62]:
train_data, test_data = train_test_split(df, test_size = 0.30, random_state=0)
train_data.head()

NameError: name 'train_test_split' is not defined